{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}


{{ define "content" }}
  <!-- HACK: Should be stylesheet -->
  <style>
    /* Styling for articles */
    img { width: 80%; margin-left: 10%;}
    code { background-color: unset; color: #666; }

    /* CSS for making page prints better */
    @page { size: auto;  margin: 0mm; }
    @media print {
      nav, footer { display: none; }
      html { font-size: 40%; padding: 32px; }
    }
  </style>
  {{ partial "page.html" . }}
{{ end }}
