<footer class="footer" style="line-height: 1.8em; margin-bottom: 40px !important;">
  <section class="container">
    <p class="ai-disclaimer" style="text-align: center; margin-bottom: 0;">
      <i
        >All content on this website is handwritten.
        <br />
        This website does not contain AI-generated content.</i
      >
    </p>

    <br style="line-height: 0;" />

    &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    <b>Luciano Nooijen</b>

    <br style="line-height: 8px;" />

    <span style="font-size: 10px;">Posts: CC-BY-SA | Source code: MIT</span>
  </section>
</footer>
