<style>
  .mobilemenu {
    display: none !important;
  }

  @media screen and (max-width: 800px) {
    .mobilemenu {
      display: initial !important;
    }
    .navigation-list {
      display: none;
      float: none;
      padding-left: 0;
    }
    .navigation-list.navopen {
      display: block;
      position: fixed;
      top: 70px;
      right: 20px;
      min-width: 200px;
      height: auto;
      text-align: right;
      background-color: #ddd;
      display: flex;
      flex-direction: column;
    }
    .navigation-item {
      display: inline-block;
      border-top: solid 1px #999;
    }
    .navigation-item:first-of-type {
      border-top: none;
    }
  }
</style>

<script>
  function toggleMenu(){
    const x = document.getElementById("topnav");
    console.log(x)
    if (x.className === "navigation-list float-right") {
      x.className += " navopen";
    } else {
      x.className = "navigation-list float-right";
    }
  }
</script>

<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
    {{ with .Site.Menus.main }}
    <a href="javascript:void(0);" class="mobilemenu float-right" onclick="toggleMenu()">Menu</a>
    <ul id="topnav" class="navigation-list float-right">
      {{ range sort . }}
      <li class="navigation-item">
        <a class="navigation-link" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </section>
</nav>
