<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <p>Posts are also available as an <a href="/blog/index.xml" target="_blank">RSS feed</a>.</p>
  <p style="text-align: center;">
    <b>Categories: </b>
    <a href="/blog"><i>all</i></a>
    <br />
    {{ $categories := slice }}
    {{ range site.Taxonomies.categories.Alphabetical }}
      {{ $term := .Term }}
      {{ $url := printf "/categories/%s/" $term | urlize }}
      {{ $categories = $categories | append (printf `<a href="%s">%s</a>` $url $term) }}
    {{ end }}
    {{ delimit $categories " | " | safeHTML }}
  </p>
  <ul>
    {{ range .Pages }}
      <li><span>{{ .Date.Format "January 2, 2006" }}</span><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</section>
