<section class="container post">
    <article>
        <header>
            <h1 class="title">{{ .Title }}</h1>
            <h2 class="date">{{ .Date.Format "January 2, 2006" }}</h2>
            <p style="margin-bottom: 0"><b>Reading time</b>: {{ .ReadingTime }} minutes</p>
            <p style="margin-bottom: 0; margin-top: 0;">
                {{ with .GetTerms "categories" }}
                    <b>Categories:</b> 
                    {{ $categories := slice }}
                    {{ range . }}
                        {{ $categories = $categories | append (printf `<a href="%s">%s</a>` .RelPermalink .LinkTitle) }}
                    {{ end }}
                    {{ delimit $categories ", " | safeHTML }}
                {{ end }}
            </p>
            <p style="margin-top: 0">
                {{ with .GetTerms "tags" }}
                    <b>Tags:</b>
                    {{ $tags := slice }}
                    {{ range . }}
                        {{ $tags = $tags | append (printf `<a href="%s">%s</a>` .RelPermalink .LinkTitle) }}
                    {{ end }}
                    {{ delimit $tags ", " | safeHTML }}
                {{ end }}
            </p>
        </header>

        {{ .Content }}

        <br><br><br>
            <i>Thoughts or questions about this article? Feel free to drop me a <a href="https://www.linkedin.com/in/lucianonooijen/" target="_blank">message on LinkedIn</a> or <a href="https://x.com/LucianoNooijen">Twitter DM</a>!</i>
        </p>
        <p style="text-align: center;">
            <i>A note on the use of AI: all blog posts on this website are handwritten.<br>This website does not contain AI-generated content.</i>
        </p>
    </article>
</section>