<section class="container post">
    <article>
        <header>
            <h1 class="title">{{ .Title }}</h1>
            <h2 class="date">{{ .Date.Format "January 2, 2006" }}</h2>
            <p style="margin-bottom: 0">
                {{ with .GetTerms "categories" }}
                    <b>Categories:</b> 
                    {{ range . }}
                        <span><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
                    {{ end }}
                {{ end }}
            </p>
            <p style="margin-top: 0">
                {{ with .GetTerms "tags" }}
                    <b>Tags:</b> 
                    {{ range . }}
                        <span><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
                    {{ end }}
                {{ end }}
            </p>
        </header>

        {{ .Content }}

        <br><br><br>
        <p style="text-align: center;">
            <i>Thoughts or questions about this article? Feel free to drop me a message on <a href="https://www.linkedin.com/in/lucianonooijen/" target="_blank">LinkedIn</a>!</i>
        </p>
    </article>
</section>