@media screen and (max-width: 700px) {
    .navigation-title {
        display: none !important;
    }
    .navigation-list {
        float: none;
        padding-left: 0;
    }
    .navigation-item {
        display: inline-block;
    }
}

@media screen and (max-width: 450px) {
    .navigation-link {
        margin: 0 .5rem;
    }
    .navigation-link:first-child {
        margin-left: .5rem;
    }
    .navigation-link:last-child {
        margin-right: .5rem;
    }
}

@media screen and (max-width: 380px) {
    .navigation-link {
        font-size: 1rem !important;
    }
}

body {
    background-color: #eee;
}