//
// Colours
//
$color-bg: #eee;

$color-text: #424242;
$color-heading: #222;

$color-link: #184680;
$color-link-active: #192c3e;

$color-code-text: #223244;
$color-code-bg: #dadada;

$color-quote: #666;

//
// Widths
//
$container-max-width: 120rem;
$blogpost-width: 80rem;
