//
// Colours
//
$color-bg: #EFEBE0;

$color-text: #2E2B26;
$color-heading: #2E2B26;

$color-link: #8B4513;
$color-link-active: #cd4416;

$color-code-text: #223244;
$color-code-bg: #dadada;

$color-quote: #666;

//
// Widths
//
$container-max-width: 120rem;
$blogpost-width: 80rem;
