//
// Colours
//
$color-bg: #efebe0;

$color-text: #2e2b26;
$color-heading: #2e2b26;

$color-link: #8b4513;
$color-link-active: #cd4416;

$color-code-text: #223244;
$color-code-bg: #dadada;

$color-quote: #666;

//
// Widths
//
$container-max-width: 120rem;
$blogpost-width: 80rem;
